<% name = current_user.present? ? current_user.email : 'Stranger' %>

<div class="container">
  <div>
    <h1 id="title">My tasks</h1>
  </div>

  <div class="container">
    <ul id="tasks">
      <% @tasks.each do |task| %>

          <% if task.completed %>
          <li class="list-group-item list-group-item-success">
            <%= link_to task.title, task_path(task.id) %> <i class="fa fa-check-square-o"></i>

            <%= link_to task_path(task.id), method: :delete, data: { confirm: "Delete #{task.title}?" } do %>
            <i class="fa fa-trash-o" aria-hidden="true"></i>
          <% end %>
          </li>

          <% else %>
          <li class="list-group-item list-group-item-danger">
            <%= link_to task.title, task_path(task.id) %> <i class="fa fa-square-o"></i>

            <%= link_to task_path(task.id), method: :delete, data: { confirm: "Delete #{task.title}?" } do %>
            <i class="fa fa-trash-o" aria-hidden="true"></i>
          <% end %>
          </li>

          <% end %>
          <% link_to task.title, tasks_path(task) %>
      <% end %>
    </ul>
  </div>
</div>

<hr>

<%= link_to new_task_path do %>
  <i class="fa fa-plus"></i> Add a new task
<% end %>





