<div class="container">
  <div id="title-div">
    <h1 id="title">Tasks 2Do</h1>
    <form name="changeform">
    <input type="text" name="newtitle" size="40" />
    <button type="button" onclick="changeTitle();">Change!</button>
    </form>
  </div>

  <% if user_signed_in? %>
  <div>
    <% @tasks.each do |task| %>
      <!--<% if task.user == current_user %>
        <h2 id="user"><%= current_user.email %> is connected</h2>
        <h2>created by user: <%= task.user_id %></h2>
      <% end %>-->
    <% end %>
  </div>
  <% end %>

  <div class="container">
      <ul id="tasks">
        <% @tasks.each do |task| %>
          <% if task.user == current_user %>


            <% if task.completed %>

              <!------------------------------------------------------------------------------------------------------------------------>
              <li>
                <div id="taskio">
                  <%= form_for(task) do |f| %>

                    <div class="checkbox">
                      <label>
                        <%= f.check_box :completed, :checked => false, :style => 'visibility: hidden' %>
                      </label>
                    </div>

                    <%= f.submit task.title, class: 'btn btn-success' %> <!--<i class="fa fa-check-square-o"></i>-->
                  <% end %>

                  <!------------------------------------------------------------------------------------------------------------------------>

                  <%= link_to task_path(task.id), method: :delete, data: { confirm: "Delete #{task.title}?" } do %>
                  <i class="fa fa-trash-o" aria-hidden="true"></i>

                <% end %>
                </div>
              </li>

            <% else %>

              <!------------------------------------------------------------------------------------------------------------------------>
              <li>
                <div id="taskio">
                  <%= form_for(task) do |f| %>
                    <div class="checkbox">
                      <label>
                        <%= f.check_box :completed, :checked => true, :style => 'visibility: hidden' %>
                      </label>
                    </div>

                    <%= f.submit task.title, class: 'btn btn-danger' %><!--<i class="fa fa-square-o"></i>-->
                  <% end %>
                  <!------------------------------------------------------------------------------------------------------------------------>

                  <%= link_to task_path(task.id), method: :delete, data: { confirm: "Delete #{task.title}?" } do %>
                  <i class="fa fa-trash-o" aria-hidden="true"></i>
                <% end %>
              </div>
            </li>

            <% end %>
          <% end %>
          <% link_to task.title, tasks_path(task) %>
        <% end %>
      </ul>
  </div>
</div>

<hr>

<%= link_to new_task_path do %>
  <i class="fa fa-plus"></i> Add a new task
<% end %>

<script type="text/javascript">
    function changeTitle() {
       if (!document.getElementById) return;
       var newtitle = document.changeform.newtitle.value;
       var heading1 = document.getElementById("title");
       heading1.firstChild.nodeValue=newtitle;
    }
</script>





